**Trabalho 1 - EEL 891 - Introdução ao Aprendizado de Máquina**

Aluno: Alan de O. Gonçalves

In [ ]:
#-------------------------------------------------------------------------------
# Importar diretórios do google drive
#-------------------------------------------------------------------------------

from google.colab import drive
drive.mount ('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#-------------------------------------------------------------------------------
# Importar bibliotecas
#-------------------------------------------------------------------------------

import pandas as pd
import numpy as np

import statistics

In [ ]:
#-------------------------------------------------------------------------------
# Ler o arquivo CSV com os dados de treinamento do Trabalho 1
#-------------------------------------------------------------------------------

dados_treinamento = pd.read_csv('/content/drive/MyDrive/conjunto_de_treinamento.csv')

In [ ]:
print (dados_treinamento)

       id_solicitante  produto_solicitado  dia_vencimento  \
0                   1                   1              10
1                   2                   1              25
2                   3                   1              20
3                   4                   1              20
4                   5                   7               1
...               ...                 ...             ...
19995           19996                   1              10
19996           19997                   1              20
19997           19998                   1              10
19998           19999                   1               5
19999           20000                   2              20

      forma_envio_solicitacao  tipo_endereco sexo  idade  estado_civil  \
0                  presencial              1    M     85             2
1                    internet              1    F     38             1
2                    internet              1    F     37             2
3                    internet              1    M     37             1
4                    internet              1    F     51             1
...                       ...            ...  ...    ...           ...
19995              presencial              1    M     27             2
19996              presencial              1    F     26             2
19997                internet              1    F     63             2
19998                internet              1    F     84             1
19999              presencial              1    F     53             1

       qtde_dependentes  grau_instrucao  ...  possui_telefone_trabalho  \
0                     0               0  ...                         N
1                     0               0  ...                         N
2                     0               0  ...                         N
3                     1               0  ...                         Y
4                     3               0  ...                         N
...                 ...             ...  ...                       ...
19995                 0               0  ...                         N
19996                 1               0  ...                         N
19997                 0               0  ...                         N
19998                 0               0  ...                         N
19999                 0               0  ...                         N

      codigo_area_telefone_trabalho meses_no_trabalho profissao ocupacao  \
0                                                   0       9.0      1.0
1                                                   0       2.0      5.0
2                                                   0       NaN      NaN
3                                54                 0       9.0      2.0
4                                                   0       9.0      5.0
...                             ...               ...       ...      ...
19995                                               0       9.0      1.0
19996                                               0       9.0      2.0
19997                                               0       9.0      1.0
19998                                               0       NaN      NaN
19999                                               0       9.0      5.0

       profissao_companheiro  grau_instrucao_companheiro local_onde_reside  \
0                        0.0                         0.0             600.0
1                        NaN                         NaN             492.0
2                        NaN                         NaN             450.0
3                        NaN                         NaN             932.0
4                        NaN                         NaN             440.0
...                      ...                         ...               ...
19995                    0.0                         0.0             308.0
19996                    0.0                         0.0             639.0
19997                    NaN                         NaN             486.0
19998                    NaN                         NaN             590.0
19999                    0.0                         0.0             132.0

       local_onde_trabalha  inadimplente
0                    600.0             0
1                    492.0             0
2                    450.0             1
3                    932.0             1
4                    440.0             1
...                    ...           ...
19995                308.0             0
19996                639.0             0
19997                486.0             0
19998                590.0             0
19999                132.0             0

[20000 rows x 42 columns]

In [ ]:
#-------------------------------------------------------------------------------
# Removendo colunas com linhas vazias e dados pouco significativos
#-------------------------------------------------------------------------------

#dados_teste = dados_teste_dummies.drop(dados_teste_dummies.columns[[1, 7]], axis=1)

dados_treinamento = dados_treinamento.drop(dados_treinamento.columns[[2, 3, 9, 10, 11, 12, 14, 15 , 16, 21, 22, 23, 24, 25, 27, 31, 33, 34, 37, 38, 39, 40]], axis=1)

print (dados_treinamento)

       id_solicitante  produto_solicitado  tipo_endereco sexo  idade  \
0                   1                   1              1    M     85
1                   2                   1              1    F     38
2                   3                   1              1    F     37
3                   4                   1              1    M     37
4                   5                   7              1    F     51
...               ...                 ...            ...  ...    ...
19995           19996                   1              1    M     27
19996           19997                   1              1    F     26
19997           19998                   1              1    F     63
19998           19999                   1              1    F     84
19999           20000                   2              1    F     53

       estado_civil  qtde_dependentes possui_telefone_residencial  \
0                 2                 0                           Y
1                 1                 0                           Y
2                 2                 0                           Y
3                 1                 1                           Y
4                 1                 3                           Y
...             ...               ...                         ...
19995             2                 0                           Y
19996             2                 1                           Y
19997             2                 0                           Y
19998             1                 0                           N
19999             1                 0                           Y

      possui_telefone_celular  possui_email  renda_mensal_regular  \
0                           N             0                 480.0
1                           N             1                 380.0
2                           N             1                 600.0
3                           N             1                 460.0
4                           N             1                 687.0
...                       ...           ...                   ...
19995                       N             1                 423.0
19996                       N             0                 350.0
19997                       N             1                 321.0
19998                       N             1                 380.0
19999                       N             1                 300.0

       renda_extra  qtde_contas_bancarias  valor_patrimonio_pessoal  \
0              0.0                      1                       0.0
1              0.0                      0                       0.0
2              0.0                      0                       0.0
3              0.0                      0                       0.0
4            600.0                      0                       0.0
...            ...                    ...                       ...
19995          0.0                      1                       0.0
19996          0.0                      1                       0.0
19997          0.0                      0                       0.0
19998          0.0                      0                       0.0
19999          0.0                      1                       0.0

       possui_carro vinculo_formal_com_empresa possui_telefone_trabalho  \
0                 1                          N                        N
1                 0                          N                        N
2                 0                          N                        N
3                 0                          Y                        Y
4                 1                          Y                        N
...             ...                        ...                      ...
19995             1                          Y                        N
19996             1                          Y                        N
19997             0                          N                        N
19998             0                          N                        N
19999             1                          N                        N

       profissao  ocupacao  inadimplente
0            9.0       1.0             0
1            2.0       5.0             0
2            NaN       NaN             1
3            9.0       2.0             1
4            9.0       5.0             1
...          ...       ...           ...
19995        9.0       1.0             0
19996        9.0       2.0             0
19997        9.0       1.0             0
19998        NaN       NaN             0
19999        9.0       5.0             0

[20000 rows x 20 columns]

Durante os testes verifiquei que as colunas #15 - 'tipo_residencia' e #16 - meses_na_residencia' possuiam valores infinitos por isso removi essas colunas.

In [ ]:
#-------------------------------------------------------------------------------
# Substituindo registros preenchidos com NULL
#-------------------------------------------------------------------------------

# sexo
dados_treinamento['sexo'] = dados_treinamento['sexo'].replace(np.NaN,('N'))

#profissao
moda_profissao = statistics.mode(dados_treinamento['profissao'])
dados_treinamento['profissao'] = dados_treinamento['profissao'].replace(np.NaN, int(moda_profissao))

#ocupacao
moda_ocupacao = statistics.mode(dados_treinamento['ocupacao'])
dados_treinamento['ocupacao'] = dados_treinamento['ocupacao'].replace(np.NaN, int(moda_profissao))

print (dados_treinamento)

       id_solicitante  produto_solicitado  tipo_endereco sexo  idade  \
0                   1                   1              1    M     85
1                   2                   1              1    F     38
2                   3                   1              1    F     37
3                   4                   1              1    M     37
4                   5                   7              1    F     51
...               ...                 ...            ...  ...    ...
19995           19996                   1              1    M     27
19996           19997                   1              1    F     26
19997           19998                   1              1    F     63
19998           19999                   1              1    F     84
19999           20000                   2              1    F     53

       estado_civil  qtde_dependentes possui_telefone_residencial  \
0                 2                 0                           Y
1                 1                 0                           Y
2                 2                 0                           Y
3                 1                 1                           Y
4                 1                 3                           Y
...             ...               ...                         ...
19995             2                 0                           Y
19996             2                 1                           Y
19997             2                 0                           Y
19998             1                 0                           N
19999             1                 0                           Y

      possui_telefone_celular  possui_email  renda_mensal_regular  \
0                           N             0                 480.0
1                           N             1                 380.0
2                           N             1                 600.0
3                           N             1                 460.0
4                           N             1                 687.0
...                       ...           ...                   ...
19995                       N             1                 423.0
19996                       N             0                 350.0
19997                       N             1                 321.0
19998                       N             1                 380.0
19999                       N             1                 300.0

       renda_extra  qtde_contas_bancarias  valor_patrimonio_pessoal  \
0              0.0                      1                       0.0
1              0.0                      0                       0.0
2              0.0                      0                       0.0
3              0.0                      0                       0.0
4            600.0                      0                       0.0
...            ...                    ...                       ...
19995          0.0                      1                       0.0
19996          0.0                      1                       0.0
19997          0.0                      0                       0.0
19998          0.0                      0                       0.0
19999          0.0                      1                       0.0

       possui_carro vinculo_formal_com_empresa possui_telefone_trabalho  \
0                 1                          N                        N
1                 0                          N                        N
2                 0                          N                        N
3                 0                          Y                        Y
4                 1                          Y                        N
...             ...                        ...                      ...
19995             1                          Y                        N
19996             1                          Y                        N
19997             0                          N                        N
19998             0                          N                        N
19999             1                          N                        N

       profissao  ocupacao  inadimplente
0            9.0       1.0             0
1            2.0       5.0             0
2            9.0       9.0             1
3            9.0       2.0             1
4            9.0       5.0             1
...          ...       ...           ...
19995        9.0       1.0             0
19996        9.0       2.0             0
19997        9.0       1.0             0
19998        9.0       9.0             0
19999        9.0       5.0             0

[20000 rows x 20 columns]

In [ ]:
#-------------------------------------------------------------------------------
# Substituindo variaveis categoricas
#-------------------------------------------------------------------------------

dados_treinamento = pd.get_dummies(data=dados_treinamento, columns=['sexo',
                                                                'possui_telefone_residencial',
                                                                'vinculo_formal_com_empresa',
                                                                'possui_telefone_trabalho'])

print(dados_treinamento)

       id_solicitante  produto_solicitado  tipo_endereco  idade  estado_civil  \
0                   1                   1              1     85             2
1                   2                   1              1     38             1
2                   3                   1              1     37             2
3                   4                   1              1     37             1
4                   5                   7              1     51             1
...               ...                 ...            ...    ...           ...
19995           19996                   1              1     27             2
19996           19997                   1              1     26             2
19997           19998                   1              1     63             2
19998           19999                   1              1     84             1
19999           20000                   2              1     53             1

       qtde_dependentes possui_telefone_celular  possui_email  \
0                     0                       N             0
1                     0                       N             1
2                     0                       N             1
3                     1                       N             1
4                     3                       N             1
...                 ...                     ...           ...
19995                 0                       N             1
19996                 1                       N             0
19997                 0                       N             1
19998                 0                       N             1
19999                 0                       N             1

       renda_mensal_regular  renda_extra  ...  sexo_   sexo_F  sexo_M  sexo_N  \
0                     480.0          0.0  ...       0       0       1       0
1                     380.0          0.0  ...       0       1       0       0
2                     600.0          0.0  ...       0       1       0       0
3                     460.0          0.0  ...       0       0       1       0
4                     687.0        600.0  ...       0       1       0       0
...                     ...          ...  ...     ...     ...     ...     ...
19995                 423.0          0.0  ...       0       0       1       0
19996                 350.0          0.0  ...       0       1       0       0
19997                 321.0          0.0  ...       0       1       0       0
19998                 380.0          0.0  ...       0       1       0       0
19999                 300.0          0.0  ...       0       1       0       0

       possui_telefone_residencial_N  possui_telefone_residencial_Y  \
0                                  0                              1
1                                  0                              1
2                                  0                              1
3                                  0                              1
4                                  0                              1
...                              ...                            ...
19995                              0                              1
19996                              0                              1
19997                              0                              1
19998                              1                              0
19999                              0                              1

       vinculo_formal_com_empresa_N  vinculo_formal_com_empresa_Y  \
0                                 1                             0
1                                 1                             0
2                                 1                             0
3                                 0                             1
4                                 0                             1
...                             ...                           ...
19995                             0                             1
19996                             0                             1
19997                             1                             0
19998                             1                             0
19999                             1                             0

       possui_telefone_trabalho_N  possui_telefone_trabalho_Y
0                               1                           0
1                               1                           0
2                               1                           0
3                               0                           1
4                               1                           0
...                           ...                         ...
19995                           1                           0
19996                           1                           0
19997                           1                           0
19998                           1                           0
19999                           1                           0

[20000 rows x 26 columns]

In [ ]:
#-------------------------------------------------------------------------------
# Eliminando linhas com registros preenchidos com NULL
#-------------------------------------------------------------------------------

dados_treinamento.dropna()

print(dados_treinamento)

       id_solicitante  produto_solicitado  tipo_endereco  idade  estado_civil  \
0                   1                   1              1     85             2
1                   2                   1              1     38             1
2                   3                   1              1     37             2
3                   4                   1              1     37             1
4                   5                   7              1     51             1
...               ...                 ...            ...    ...           ...
19995           19996                   1              1     27             2
19996           19997                   1              1     26             2
19997           19998                   1              1     63             2
19998           19999                   1              1     84             1
19999           20000                   2              1     53             1

       qtde_dependentes possui_telefone_celular  possui_email  \
0                     0                       N             0
1                     0                       N             1
2                     0                       N             1
3                     1                       N             1
4                     3                       N             1
...                 ...                     ...           ...
19995                 0                       N             1
19996                 1                       N             0
19997                 0                       N             1
19998                 0                       N             1
19999                 0                       N             1

       renda_mensal_regular  renda_extra  ...  sexo_   sexo_F  sexo_M  sexo_N  \
0                     480.0          0.0  ...       0       0       1       0
1                     380.0          0.0  ...       0       1       0       0
2                     600.0          0.0  ...       0       1       0       0
3                     460.0          0.0  ...       0       0       1       0
4                     687.0        600.0  ...       0       1       0       0
...                     ...          ...  ...     ...     ...     ...     ...
19995                 423.0          0.0  ...       0       0       1       0
19996                 350.0          0.0  ...       0       1       0       0
19997                 321.0          0.0  ...       0       1       0       0
19998                 380.0          0.0  ...       0       1       0       0
19999                 300.0          0.0  ...       0       1       0       0

       possui_telefone_residencial_N  possui_telefone_residencial_Y  \
0                                  0                              1
1                                  0                              1
2                                  0                              1
3                                  0                              1
4                                  0                              1
...                              ...                            ...
19995                              0                              1
19996                              0                              1
19997                              0                              1
19998                              1                              0
19999                              0                              1

       vinculo_formal_com_empresa_N  vinculo_formal_com_empresa_Y  \
0                                 1                             0
1                                 1                             0
2                                 1                             0
3                                 0                             1
4                                 0                             1
...                             ...                           ...
19995                             0                             1
19996                             0                             1
19997                             1                             0
19998                             1                             0
19999                             1                             0

       possui_telefone_trabalho_N  possui_telefone_trabalho_Y
0                               1                           0
1                               1                           0
2                               1                           0
3                               0                           1
4                               1                           0
...                           ...                         ...
19995                           1                           0
19996                           1                           0
19997                           1                           0
19998                           1                           0
19999                           1                           0

[20000 rows x 26 columns]

In [ ]:
#------------------------------------------------------------------------------
#  Criar os conjuntos correspondentes aos atributos e ao alvo
#------------------------------------------------------------------------------

X = dados_treinamento.select_dtypes(exclude=['object'])
y = dados_treinamento.inadimplente

#------------------------------------------------------------------------------
#  Visualizando os conjuntos de dados
#------------------------------------------------------------------------------

print(X)
print(y)

       id_solicitante  produto_solicitado  tipo_endereco  idade  estado_civil  \
0                   1                   1              1     85             2
1                   2                   1              1     38             1
2                   3                   1              1     37             2
3                   4                   1              1     37             1
4                   5                   7              1     51             1
...               ...                 ...            ...    ...           ...
19995           19996                   1              1     27             2
19996           19997                   1              1     26             2
19997           19998                   1              1     63             2
19998           19999                   1              1     84             1
19999           20000                   2              1     53             1

       qtde_dependentes  possui_email  renda_mensal_regular  renda_extra  \
0                     0             0                 480.0          0.0
1                     0             1                 380.0          0.0
2                     0             1                 600.0          0.0
3                     1             1                 460.0          0.0
4                     3             1                 687.0        600.0
...                 ...           ...                   ...          ...
19995                 0             1                 423.0          0.0
19996                 1             0                 350.0          0.0
19997                 0             1                 321.0          0.0
19998                 0             1                 380.0          0.0
19999                 0             1                 300.0          0.0

       qtde_contas_bancarias  ...  sexo_   sexo_F  sexo_M  sexo_N  \
0                          1  ...       0       0       1       0
1                          0  ...       0       1       0       0
2                          0  ...       0       1       0       0
3                          0  ...       0       0       1       0
4                          0  ...       0       1       0       0
...                      ...  ...     ...     ...     ...     ...
19995                      1  ...       0       0       1       0
19996                      1  ...       0       1       0       0
19997                      0  ...       0       1       0       0
19998                      0  ...       0       1       0       0
19999                      1  ...       0       1       0       0

       possui_telefone_residencial_N  possui_telefone_residencial_Y  \
0                                  0                              1
1                                  0                              1
2                                  0                              1
3                                  0                              1
4                                  0                              1
...                              ...                            ...
19995                              0                              1
19996                              0                              1
19997                              0                              1
19998                              1                              0
19999                              0                              1

       vinculo_formal_com_empresa_N  vinculo_formal_com_empresa_Y  \
0                                 1                             0
1                                 1                             0
2                                 1                             0
3                                 0                             1
4                                 0                             1
...                             ...                           ...
19995                             0                             1
19996                             0                             1
19997                             1                             0
19998                             1                             0
19999                             1                             0

       possui_telefone_trabalho_N  possui_telefone_trabalho_Y
0                               1                           0
1                               1                           0
2                               1                           0
3                               0                           1
4                               1                           0
...                           ...                         ...
19995                           1                           0
19996                           1                           0
19997                           1                           0
19998                           1                           0
19999                           1                           0

[20000 rows x 25 columns]
0        0
1        0
2        1
3        1
4        1
        ..
19995    0
19996    0
19997    0
19998    0
19999    0
Name: inadimplente, Length: 20000, dtype: int64

In [ ]:
#------------------------------------------------------------------------------
#  Dividir o conjunto de dados em conjunto de treinamento e conjunto de teste
#------------------------------------------------------------------------------

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.3, random_state = 4)

#------------------------------------------------------------------------------
#  Visualizando os conjuntos de treinamento e teste
#------------------------------------------------------------------------------

# print(X_train)
# print(y_train)
# print(X_test)
# print(y_test)

Nas células de código abaixo usei o codigo: numpy.isfinite(X_train).all()
- Para identificar quais colunas possuiam registros com valores infinitos.

In [ ]:
import numpy
numpy.isfinite(X_train).all()

id_solicitante                   True
produto_solicitado               True
tipo_endereco                    True
idade                            True
estado_civil                     True
qtde_dependentes                 True
possui_email                     True
renda_mensal_regular             True
renda_extra                      True
qtde_contas_bancarias            True
valor_patrimonio_pessoal         True
possui_carro                     True
profissao                        True
ocupacao                         True
inadimplente                     True
sexo_                            True
sexo_F                           True
sexo_M                           True
sexo_N                           True
possui_telefone_residencial_N    True
possui_telefone_residencial_Y    True
vinculo_formal_com_empresa_N     True
vinculo_formal_com_empresa_Y     True
possui_telefone_trabalho_N       True
possui_telefone_trabalho_Y       True
dtype: bool

In [ ]:
import numpy
numpy.isfinite(X_test).all()

id_solicitante                   True
produto_solicitado               True
tipo_endereco                    True
idade                            True
estado_civil                     True
qtde_dependentes                 True
possui_email                     True
renda_mensal_regular             True
renda_extra                      True
qtde_contas_bancarias            True
valor_patrimonio_pessoal         True
possui_carro                     True
profissao                        True
ocupacao                         True
inadimplente                     True
sexo_                            True
sexo_F                           True
sexo_M                           True
sexo_N                           True
possui_telefone_residencial_N    True
possui_telefone_residencial_Y    True
vinculo_formal_com_empresa_N     True
vinculo_formal_com_empresa_Y     True
possui_telefone_trabalho_N       True
possui_telefone_trabalho_Y       True
dtype: bool

In [ ]:
import numpy
numpy.isfinite(y_train).all()

True

In [ ]:
import numpy
numpy.isfinite(y_test).all()

True

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

# Initialize a model with 4 neighbors
knn = KNeighborsClassifier(n_neighbors=4) # Para K = 4, obtive o melhor resultado

In [ ]:
modelo = knn.fit(X_train, y_train)
y_resposta = modelo.predict(X_test)

#------------------------------------------------------------------------------
#  Visualizando a resposta
#------------------------------------------------------------------------------

print(y_resposta)

[0 1 0 ... 0 1 0]


ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

Resolvido removendo as colunas descritas acima.

In [ ]:
#------------------------------------------------------------------------------
#  Métricas de Erro
#------------------------------------------------------------------------------

from sklearn.metrics import accuracy_score

acuracia = accuracy_score(y_test, y_resposta)

print('Acuracia: ', acuracia)

Acuracia:  0.496

In [ ]:
#------------------------------------------------------------------------------
#  Support Vector Machines
#------------------------------------------------------------------------------

from sklearn.svm import LinearSVC

LinSVC = LinearSVC (penalty='l2', C= 10.0)

LinSVC = LinSVC.fit (X_train , y_train)

y_resposta = LinSVC.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:1208: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  ConvergenceWarning,

In [ ]:
#------------------------------------------------------------------------------
#  Métricas de Erro
#------------------------------------------------------------------------------

from sklearn.metrics import accuracy_score

acuracia = accuracy_score(y_test, y_resposta)

print('Acuracia: ', acuracia)

Acuracia:  0.8433333333333334

Os melhores resultados foram obtidos usando SVM (com C = 10.0)

In [ ]:
#------------------------------------------------------------------------------
#  Classificador Beyesiano
#------------------------------------------------------------------------------

from sklearn.naive_bayes import BernoulliNB

BNB = BernoulliNB (alpha=2.0)

BNB = BNB.fit (X_train , y_train)
y_resposta = BNB.predict (X_test)

In [ ]:
#------------------------------------------------------------------------------
#  Métricas de Erro
#------------------------------------------------------------------------------

from sklearn.metrics import accuracy_score

acuracia = accuracy_score(y_test, y_resposta)

print('Acuracia: ', acuracia)

Acuracia:  1.0